body {
  margin: 0;
  background-color: #f1f2f7;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



  aside.left-panel {
    background: #272c33;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    width: 200px;
    vertical-align: top;
    -webkit-transition:width 0.3s ease;
    transition: width 0.3s ease; 
    position: fixed;}

.left-panel img{
   margin: 20px;
   max-width: 160px;
}

.left-panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200;
    background-color: #272c33;
    overflow: auto;
  }

  .left-panel li a {
    display: block;
    color: rgb(226, 226, 226);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .left-panel li a:hover:not(.active) {
    font-weight: bold;
    color: white;
  }

.right-panel{
  margin-left:200px;  
  padding:1px 16px;
}

a{
  text-decoration: none;
}



  .right-panel a {
    color: #6c757d;
  }
  .right-panel a:hover:not(.active) {
    color: black;
  }


  * {
    box-sizing: border-box;
  }

  /* right panel 并排布局的浮动块，两列并排 */

  .subpage {
    float: left;
    width: 50%;
    padding: 15px;
  }
  
  /* 清除列之后的浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 响应式布局 */
  @media screen and (max-width:600px) {
    .subpage {
      width: 100%;
    }
  }
    /* right panel 并排布局的浮动块 */